@import "bourbon/bourbon";

$primaryBackgroundColor: white;
$primaryTextColor: #3C3C3C;

@include font-face("Tabac_Slab_Hair", Tabac_Slab_Hair, hair, normal);
@include font-face("Tabac_Slab_Hair_Italic", Tabac_Slab_Hair_Italic, hair, italic);
@include font-face("Tabac_Slab_Thin", Tabac_Slab_Thin, thin, normal);
@include font-face("Tabac_Slab_Thin_Italic", Tabac_Slab_Thin_Italic, thin, italic) ;
@include font-face("Tabac_Slab_Regular", Tabac_Slab_Regular, regular, normal);
@include font-face("Tabac_Slab_Italic", Tabac_Slab_Italic, regular, italic);
@include font-face("Tabac_Slab_Semibold", Tabac_Slab_Semibold, semibold, normal);
@include font-face("Tabac_Slab_Semibold_Italic", Tabac_Slab_Semibold_Italic, semibold, italic);
@include font-face("Tabac_Slab_Bold", Tabac_Slab_Bold, bold, normal, italic);
@include font-face("Tabac_Slab_Bold_Italic", Tabac_Slab_Bold_Italic, bold, italic);
@include font-face( "Tabac_Slab_Black", Tabac_Slab_Black, black, italic);
@include font-face("Tabac_Slab_Black_Italic",  Tabac_Slab_Black_Italic, black, italic);

$tabacSlabFamily-font: "Tabac_Slab_Hair",  "Tabac_Slab_Hair_Italic", "Tabac_Slab_Thin",  "Tabac_Slab_Thin_Italic", "Tabac_Slab_Regular", "Tabac_Slab_Italic", "Tabac_Slab_Semibold", "Tabac_Slab_Bold", "Tabac_Slab_Black", "Tabac_Slab_Black_Italic";


@include font-face("Tabac_G3_Regular", Tabac_G3_Regular, regular, normal);
@include font-face("Tabac_G3_Italic", Tabac_G3_Italic, regular, italic);
@include font-face("Tabac_G3_Semibold", Tabac_G3_Semibold, semibold, normal);
@include font-face("Tabac_G3_Semibold_Italic", Tabac_G3_Semibold_Italic, semibold, italic);
@include font-face("Tabac_G3_Bold", Tabac_G3_Bold, bold, normal);
@include font-face("Tabac_G3_Bold_Italic", Tabac_G3_Bold_Italic, bold, italic);

$tabacG3Family-font: "Tabac_G3_Regular", "Tabac_G3_Italic", "Tabac_G3_Semibold",  "Tabac_G3_Semibold_Italic", "Tabac_G3_Bold", "Tabac_G3_Italic";

@include font-face("Urban_Grotesk_Light", Urban_Grotesk_Light, light, normal);
@include font-face("Urban_Grotesk_Light_Italic", Urban_Grotesk_Light_Italic, light, italic);
@include font-face("Urban_Grotesk_Regular", Urban_Grotesk_Regular, regular, normal);
@include font-face("Urban_Grotesk_Regular_Italic", Urban_Grotesk_Regular_Italic, regular, italic);
@include font-face("Urban_Grotesk_Medium", Urban_Grotesk_Medium, medium, normal);
@include font-face("Urban_Grotesk_Medium_Italic", Urban_Grotesk_Medium_Italic, medium, italic);
@include font-face("Urban_Grotesk_Semibold", Urban_Grotesk_Semibold, semibold, normal);
@include font-face("Urban_Grotesk_Semibold_Italic", Urban_Grotesk_Semibold_Italic, semibold, italic);
@include font-face("Urban_Grotesk_Bold", Urban_Grotesk_Bold, bold, normal);
@include font-face("Urban_Grotesk_Bold_Italic", Urban_Grotesk_Bold_Italic, bold, italic);
@include font-face("Urban_Grotesk_Black",  Urban_Grotesk_Black, black, normal);
@include font-face("Urban_Grotesk_Black_Italic",  Urban_Grotesk_Black_Italic, black, italic);

$urbanGroteskFamily-font:  "Urban_Grotesk_Light",  "Urban_Grotesk_Light_Italic",  "Urban_Grotesk_Regular" , "Urban_Grotesk_Regular_Italic", "Urban_Grotesk_Medium", "Urban_Grotesk_Medium_Italic", "Urban_Grotesk_Semibold",  "Urban_Grotesk_Semibold_Italic" "Urban_Grotesk_Bold",  "Urban_Grotesk_Bold_Italic",  "Urban_Grotesk_Black",  "Urban_Grotesk_Black_Italic";

@mixin font($font-family) {
  $font-weight: $weight;
  $font-style:  $style;

	//re-defines CSS styling 
  font-style:  $font-style;
  font-weight: $font-weight;


	//fontname references string of family, weights, styles 
  $TabacSlab:    quote(nth($tabacSlabFamily-font, $font), $style + $weight);
  $TabacG3: 	 quote(nth($tabcG3Family-font, $font), $style + $weight);
  $UrbanGrotesk: quote(nth($urbanGroteskFamily-font, $font), $style + $weight);


  // Translate Weight
  @if ($weight == 100) or ($weight == hair) or ($weight == ultralight) {
    $weight: 1;
  }
  @if ($weight == 200) or ($weight == extralight) or ($weight == thin)  {
    $weight: 2;
  }
  @if ($weight == 300) or ($weight == light) {
    $weight: 3;
  }
  @if ($weight == 400) or ($weight == normal) or ($weight == regular) or ($weight == book) {
    $weight: 4;
  }
  @if ($weight == 500) or ($weight == medium) or {
    $weight: 5;
  }
  @if ($weight == 600) or ($weight == semibold) or ($weight == demi) {
    $weight: 6;
  }
  @if ($weight == 700) or ($weight == bold) {
    $weight: 7;
  }
  @if ($weight == 800) or ($weight == extrabold) {
    $weight: 8;
  }
  @if ($weight == 900) or ($weight == black) or ($weight == heavy) or  ($weight == strong){
    $weight: 9;
  }

  // Translate Style
  @if $style == normal {
    $style: n;
  }
	@if $style == regular {
    $style: n;
  }
  @else if $style == italic {
    $style: i;
  }
}



  // Assemble $font-family
  $primaryFontFamily:   $TabacSlab;
  $primaryFontFamily:   $TabacG3;
  $secondaryFontFamily: $TabacSlab;
  $defaultFontFamily:   $TabacG3;
  $headingFontFamily:   $TabacSlab;
  $captionFontFamily:   $UrbanGrotesk;
  $SidebarFontFamily:   $UrbanGrotesk;
  $bodyTextFontFamily:  $TabacG3;
  $blockquoteFontFamily: $TabacSlab;


$paragraphFontSize: 1.131em;
$paragraphLineHeight: 1.5;

html {
	font-size: 16px;
	text-rendering: optimizeLegibility; /* for kerning, ligatures, and other font features */	
	-webkit-text-size-adjust: 100%; /* prevents unintended font resizing in mobile Safari */
	-webkit-font-smoothing: $fontSmoothing;
	word-wrap: break-word;	 
 	@media screen and (max-width: $smallBreakpoint) {
		font-size: 14.5px;
		}
	}


	body {
		font-family: $defaultFontFamily;

		}

	h1, h2, h3, h4, h5, h6 {
		font-family: $headingFontFamily;
		}

	.extra p, .caption p {
		font-family: $captionFontFamily;
		}
	
	p, article li {
		font-family: $defaultFontFamily;
		}


// theme furniture


blockquote {
		font-family: $blockquoteFontFamily;
		}

blockquote {
	p, ol, ul {
		font-size: inherit;
		width: 100%;
		max-width: 100%;		
		padding: 0;
		margin: 0;
		color: $alternateTextColor;
		}
	}	
	
.caption {
	line-height: $paragraphLineHeight;
	}

.caption-title {
	font-weight: bold;
	text-transform: uppercase;
	}

@mixin drop-cap-theme {
	float: left;
	font-size: 9em;
	padding-top: 0em;
	padding-right: 0.05em;
	margin-bottom: 0;
	margin-left: 0.05em;
	line-height: 0.7;
	padding-bottom: 0;
	font-family: $primaryFontFamily;
	font-weight: 600;
	margin-top: -0.02em;
	font-style: semibold;
	color: $alternateTextColor;
	}		

@mixin atavist-sidebar-theme {
		font-size: 1em;
		line-height: 1.2;
		color: #333;
	}

// fixes for errant inline styles created in the editor
span, b, i, strong, em, .chapter a {
	font-size: inherit !important;
	line-height: inherit !important;
}
