@import "bourbon";
$primaryBackgroundColor: white;
$primaryTextColor: #3C3C3C;

// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

$tabacSlab: "Tabac_Slab_Hair",  "Tabac_Slab_Hair_Italic", "Tabac_Slab_Thin",  "Tabac_Slab_Thin_Italic", "Tabac_Slab_Regular", "Tabac_Slab_Italic", "Tabac_Slab_Semibold", "Tabac_Slab_Bold", "Tabac_Slab_Black", "Tabac_Slab_Black_Italic";

@include font-face("Tabac_Slab_Hair", Tabac_Slab_Hair);
@include font-face("Tabac_Slab_Hair_Italic", Tabac_Slab_Hair_Italic);
@include font-face("Tabac_Slab_Thin", Tabac_Slab_Thin);
@include font-face("Tabac_Slab_Thin_Italic", Tabac_Slab_Thin_Italic);
@include font-face("Tabac_Slab_Regular", Tabac_Slab_Regular);
@include font-face("Tabac_Slab_Italic", Tabac_Slab_Italic);
@include font-face("Tabac_Slab_Semibold", Tabac_Slab_Semibold);
@include font-face("Tabac_Slab_Semibold_Italic", Tabac_Slab_Semibold_Italic);
@include font-face("Tabac_Slab_Bold", Tabac_Slab_Bold);
@include font-face("Tabac_Slab_Bold_Italic", Tabac_Slab_Bold_Italic);
@include font-face( "Tabac_Slab_Black", Tabac_Slab_Black);
@include font-face("Tabac_Slab_Black_Italic",  Tabac_Slab_Black_Italic);


$tabacG3: "Tabac_G3_Regular", "Tabac_G3_Italic", "Tabac_G3_Semibold",  "Tabac_G3_Semibold_Italic", "Tabac_G3_Bold", "Tabac_G3_Italic";

@include font-face("Tabac_G3_Regular", Tabac_G3_Regular);
@include font-face("Tabac_G3_Italic", Tabac_G3_Italic);
@include font-face("Tabac_G3_Semibold", Tabac_G3_Semibold);
@include font-face("Tabac_G3_Semibold_Italic", Tabac_G3_Semibold_Italic);
@include font-face("Tabac_G3_Bold", Tabac_G3_Bold);
@include font-face("Tabac_G3_Italic", Tabac_G3_Italic);

$urbanGrotesk:  "Urban_Grotesk_Light",  "Urban_Grotesk_Light_Italic",  "Urban_Grotesk_Regular" , "Urban_Grotesk_Regular_Italic", "Urban_Grotesk_Medium", "Urban_Grotesk_Medium_Italic", "Urban_Grotesk_Semibold",  "Urban_Grotesk_Semibold_Italic" "Urban_Grotesk_Bold",  "Urban_Grotesk_Bold_Italic",  "Urban_Grotesk_Black",  "Urban_Grotesk_Black_Italic";

@include font-face("Urban_Grotesk_Light", Urban_Grotesk_Light);
@include font-face("Urban_Grotesk_Light_Italic", Urban_Grotesk_Light_Italic);
@include font-face("Urban_Grotesk_Regular", Urban_Grotesk_Regular);
@include font-face("Urban_Grotesk_Regular_Italic", Urban_Grotesk_Regular_Italic);
@include font-face("Urban_Grotesk_Medium", Urban_Grotesk_Medium);
@include font-face("Urban_Grotesk_Medium_Italic", Urban_Grotesk_Medium_Italic);
@include font-face("Urban_Grotesk_Semibold", Urban_Grotesk_Semibold);
@include font-face("Urban_Grotesk_Semibold_Italic", Urban_Grotesk_Semibold_Italic);
@include font-face("Urban_Grotesk_Bold", Urban_Grotesk_Bold);
@include font-face("Urban_Grotesk_Bold_Italic", Urban_Grotesk_Bold_Italic);
@include font-face("Urban_Grotesk_Black",  Urban_Grotesk_Black);
@include font-face("Urban_Grotesk_Black_Italic",  Urban_Grotesk_Black_Italic);


@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $font: 1, $asset-pipeline: $asset-pipeline) {
    @font-face {
		font-family: nth($font-family, $font);
		font-weight: $weight;
		font-style: $style;


		// Translate Font Family
		@if $font-family ==  $tabacG3 {
			$font-family: $tabacG3;
			
		} @else if $font-family ==  $tabacSlab {
			$font-family: $tabacSlab;
		
		} @else if $font-family ==  $urbanGrotesk {
		$font-family: $urbanGrotesk;

		}

		  // Translate Weight
		  @if ($weight == 100) or ($weight == hair) or ($weight == ultralight) {
			$weight: 1;
		  }
		  @if ($weight == 200) or ($weight == extralight) or ($weight == thin)  {
			$weight: 2;
		  }
		  @if ($weight == 300) or ($weight == light) {
			$weight: 3;
		  }
		  @if ($weight == 400) or ($weight == normal) or ($weight == regular) or ($weight == book) {
			$weight: 4;
		  }
		  @if ($weight == 500) or ($weight == medium) or {
			$weight: 5;
		  }
		  @if ($weight == 600) or ($weight == semibold) or ($weight == demi) {
			$weight: 6;
		  }
		  @if ($weight == 700) or ($weight == bold) {
			$weight: 7;
		  }
		  @if ($weight == 800) or ($weight == extrabold) {
			$weight: 8;
		  }
		  @if ($weight == 900) or ($weight == black) or ($weight == heavy) or  ($weight == strong){
			$weight: 9;
		  }

		  // Translate Style
		  @if $style == normal {
			$style: n;
		  }
		  @else if $style == italic {
			$style: i;
		  }
	}

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
           font-url('#{$file-path}.woff')                format('woff'),
           font-url('#{$file-path}.ttf')                 format('truetype'),
           font-url('#{$file-path}.svg##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
    }
}

  // Define Font Family in CSS from here 
  $primaryFontFamily:   $TabacG3;
  $primaryFontFamily:   $TabacG3;
  $secondaryFontFamily: $TabacG3;
  $defaultFontFamily:   $TabacG3;
  $headingFontFamily:   $TabacSlab;
  $captionFontFamily:   $TabacG3;
  $SidebarFontFamily:   $TabacG3;
  $bodyTextFontFamily:  $TabacG3;
  $blockquoteFontFamily:$TabacSlab;


$paragraphFontSize: 1.131em;
$paragraphLineHeight: 1.5;

html {
	font-size: 16px;
	text-rendering: optimizeLegibility; /* for kerning, ligatures, and other font features */	
	-webkit-text-size-adjust: 100%; /* prevents unintended font resizing in mobile Safari */
	-webkit-font-smoothing: $fontSmoothing;
	word-wrap: break-word;	 
 	@media screen and (max-width: $smallBreakpoint) {
		font-size: 14.5px;
		}
	}


	body {
		 $font-family: $bodyTextFontFamily;
		}

	h1, h2, h3, h4, h5, h6 {
		 $font-family: $headingFontFamily;
		}

	.extra p, .caption p {
		font-family: $captionFontFamily;
		}
	
	p, article li {
		font-family: $defaultFontFamily;
		}


// theme furniture


blockquote {
		font-family: $blockquoteFontFamily;
		}

blockquote {
	p, ol, ul {
		font-size: inherit;
		width: 100%;
		max-width: 100%;		
		padding: 0;
		margin: 0;
		color: $alternateTextColor;
		}
	}	
	
.caption {
	line-height: $paragraphLineHeight;
	}

.caption-title {
	font-weight: bold;
	text-transform: uppercase;
	}

@mixin drop-cap-theme {
	float: left;
	font-size: 9em;
	padding-top: 0em;
	padding-right: 0.05em;
	margin-bottom: 0;
	margin-left: 0.05em;
	line-height: 0.7;
	padding-bottom: 0;
	font-family: $primaryFontFamily;
	font-weight: 600;
	margin-top: -0.02em;
	color: $alternateTextColor;
	}		

@mixin atavist-sidebar-theme {
		font-size: 1em;
		line-height: 1.2;
		color: #333;
	}

